{{ ansible_managed|comment }}
#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

Include /etc/ssh/sshd_config.d/*.conf

Port {{ cinux_sshd_srv_ssh_conf.Port|default('22') }}
AddressFamily {{ cinux_sshd_srv_ssh_conf.AddressFamily|default('any') }}
{%if cinux_sshd_srv_ssh_conf.ListenAddresses is defined %}
{% for ListenAddress in cinux_sshd_srv_ssh_conf.ListenAddresses %}
ListenAddress {{ ListenAddress }}
{% endfor %}
{% endif %}

{% if cinux_sshd_srv_ssh_conf.HostKeys is defined %}
{% for HostKey in cinux_sshd_srv_ssh_conf.HostKeys %}
HostKey {{ HostKey }}
{% endfor %}
{% endif %}
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
RekeyLimit {{ cinux_sshd_srv_ssh_conf.RekeyLimit|default('default none') }}

# Logging
SyslogFacility {{ cinux_sshd_srv_ssh_conf.SyslogFacility|default('AUTHPRIV') }}
LogLevel {{ cinux_sshd_srv_ssh_conf.LogLevel|default('INFO') }}

# Authentication:

LoginGraceTime {{ cinux_sshd_srv_ssh_conf.LoginGraceTime|default('120') }}
PermitRootLogin {{ cinux_sshd_srv_ssh_conf.PermitRootLogin|default('no') }}
StrictModes {{ cinux_sshd_srv_ssh_conf.StrictModes|default('yes') }}
MaxAuthTries {{ cinux_sshd_srv_ssh_conf.MaxAuthTries|default('3') }}
MaxSessions {{cinux_sshd_srv_ssh_conf.MaxSessions|default('2') }}

PubkeyAuthentication {{ cinux_sshd_srv_ssh_conf.PubkeyAuthentication|default('yes') }}

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
AuthorizedKeysFile {{ cinux_sshd_srv_ssh_conf.AuthorizedKeysFile|default('.ssh/authorized_keys') }}

AuthorizedPrincipalsFile {{ cinux_sshd_srv_ssh_conf.AuthorizedPrincipalsFile|default('none') }}

{% if wtd_srv_ssh_conf.AuthorizedKeysCommand is defined %}
AuthorizedKeysCommand {{ cinux_sshd_srv_ssh_conf.AuthorizedKeysCommand}}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.AuthorizedKeysCommandUser is defined %}
AuthorizedKeysCommandUser {{ cinux_sshd_srv_ssh_conf.AuthorizedKeysCommandUser }}
{% endif %}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication {{ cinux_sshd_srv_ssh_conf.HostbasedAuthentication|default('no') }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
{% if cinux_sshd_srv_ssh_conf.IgnoreUserKnownHosts is defined %}
IgnoreUserKnownHosts {{ cinux_sshd_srv_ssh_conf.IgnoreUserKnownHosts }}
{% endif %}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ cinux_sshd_srv_ssh_conf.IgnoreRhosts|default('yes') }}

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ cinux_sshd_srv_ssh_conf.PasswordAuthentication|default('no') }}
PermitEmptyPasswords {{ cinux_sshd_srv_ssh_conf.PermitEmptyPasswords|default('no') }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ cinux_sshd_srv_ssh_conf.ChallengeResponseAuthentication|default('no') }}

# Kerberos options
KerberosAuthentication {{ cinux_sshd_srv_ssh_conf.KerberosAuthentication|default('no') }}
{% if cinux_sshd_srv_ssh_conf.KerberosOrLocalPasswd is defined %}
KerberosOrLocalPasswd {{ cinux_sshd_srv_ssh_conf.KerberosOrLocalPasswd }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.KerberosTicketCleanup is defined %}
KerberosTicketCleanup {{ cinux_sshd_srv_ssh_conf.KerberosTicketCleanup }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.KerberosGetAFSToken is defined %}
KerberosGetAFSToken {{ cinux_sshd_srv_ssh_conf.KerberosGetAFSToken }}
{% endif %}

# GSSAPI options
GSSAPIAuthentication {{ cinux_sshd_srv_ssh_conf.GSSAPIAuthentication|default('no') }}
{% if cinux_sshd_srv_ssh_conf.GSSAPICleanupCredentials is defined %}
GSSAPICleanupCredentials {{ cinux_sshd_srv_ssh_conf.GSSAPICleanupCredentials }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.GSSAPIStrictAcceptorCheck is defined %}
GSSAPIStrictAcceptorCheck {{ cinux_sshd_srv_ssh_conf.GSSAPIStrictAcceptorCheck }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.GSSAPIKeyExchange is defined %}
GSSAPIKeyExchange {{ cinux_sshd_srv_ssh_conf.GSSAPIKeyExchange }}
{% endif %}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ cinux_sshd_srv_ssh_conf.UsePAM|default('yes') }}
{% if cinux_sshd_srv_ssh_conf.AllowAgentForwarding is defined %}
AllowAgentForwarding {{ cinux_sshd_srv_ssh_conf.AllowAgentForwarding }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.AllowTcpForwarding is defined %}
AllowTcpForwarding {{ cinux_sshd_srv_ssh_conf.AllowTcpForwarding }}
{% endif %}
GatewayPorts {{ cinux_sshd_srv_ssh_conf.GatewayPorts|default('no') }}
X11Forwarding {{ cinux_sshd_srv_ssh_conf.X11Forwarding|default('yes') }}
{% if cinux_sshd_srv_ssh_conf.X11DisplayOffset is defined %}
X11DisplayOffset {{ cinux_sshd_srv_ssh_conf.X11DisplayOffset }}
{% endif %}
{% if cinux_sshd_srv_ssh_conf.X11UseLocalhost is defined %}
X11UseLocalhost {{ cinux_sshd_srv_ssh_conf.X11UseLocalhost }}
{% endif %}
PrintMotd {{ cinux_sshd_srv_ssh_conf.PrintMotd|default('yes') }}
PrintLastLog {{ cinux_sshd_srv_ssh_conf.PrintLastLog|default('yes') }}
TCPKeepAlive {{ cinux_sshd_srv_ssh_conf.TCPKeepAlive|default('yes')}}
PermitUserEnvironment {{ cinux_sshd_srv_ssh_conf.PermitUserEnvironment|default('no') }}
Compression {{ cinux_sshd_srv_ssh_conf.Compression|default('delayed') }}
ClientAliveInterval {{ cinux_sshd_srv_ssh_conf.ClientAliveInterval|default('300') }}
ClientAliveCountMax {{ cinux_sshd_srv_ssh_conf.ClientAliveCountMax|default('0') }}
UseDNS {{ cinux_sshd_srv_ssh_conf.UseDNS|default('yes') }}
{% if cinux_sshd_srv_ssh_conf.PidFile is defined %}
PidFile {{ cinux_sshd_srv_ssh_conf.PidFile }}
{% endif %}
MaxStartups {{ cinux_sshd_srv_ssh_conf.MaxStartups|default('10:30:100') }}
PermitTunnel {{ cinux_sshd_srv_ssh_conf.PermitTunnel|default('no') }}
{% if cinux_sshd_srv_ssh_conf.ChrootDirectory is defined %}
ChrootDirectory {{ cinux_sshd_srv_ssh_conf.ChrootDirectory }}
{% endif %}

# no default banner path
{% if cinux_sshd_srv_ssh_conf.Banner is defined %}
{% if cinux_sshd_srv_ssh_conf.Banner == "builtin" %}
Banner /etc/ssh/sshd-banner
{% else %}
Banner {{ cinux_sshd_srv_ssh_conf.Banner }}
{% endif %}
{% else %}
Banner none
{% endif %}

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server